.app {
    display: flex;
    flex-direction: column;
    margin: 10px;
    cursor: default;
    position: relative;
}

.app > .heading {
width: 60%;
position: relative;
bottom: 0;
}

.app > .heading > h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 4em;
}

.app > .heading > h3 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 2.6em;
}